body {
    background-image: linear-gradient(to top right, #4e6e58, #544b3d, #4c8577);
    color: rgb(45, 45, 45); 
    padding: 75px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 900px;
    height: 900px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(100, 12, 12);
    border: 14px rgb(100, 12, 12) ridge;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: #d7be82;
    border: 10px #28464b groove;
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    border: 6px #798071 ridge;
    width: 300px;
    height: 300px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 6px #28464b ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: #536271;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #70161E;
  border: 4px #70161E ridge;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #798071;
}